include README.md
include LICENSE
include requirements.txt
include smart_patch_config.json
include *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store
